.cart {
  padding-left: 3rem;

  h1 {
    font-size: 4rem;
    font-weight: bold;
    @media (max-width: 770px) {
      font-size: 3rem;
    }
  }
  .link {
    text-align: center;
    font-size: 2rem;
    color: black;
  }
  .cart_contain {
    display: flex;
    @media (max-width: 1340px) {
      flex-direction: column;
    }
  }
  .cart_wrapper {
    padding-top: 3rem;
    flex-basis: 60%;
    .line {
      background-color: black;
      height: 2px;
      width: 90%;
    }
    .heading {
      font-size: 3rem;
      @media (max-width: 770px) {
        font-size: 2rem;
      }
    }
  }
  .details {
    flex-basis: 40%;
    margin-right: 2rem;
    border: 2px solid black;
    border-radius: 2rem;
    height: min-content;
    h1 {
      font-size: 2.8rem;
      font-weight: 500;
      padding: 2rem;
      @media (max-width: 1340px) {
        font-size: 2rem;
      }
    }
    .number,
    .summary {
      display: flex;
      padding: 2rem;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 2.4rem;
        @media (max-width: 1340px) {
          font-size: 1.5rem;
        }
      }
    }
    input {
      border: 2px solid gray;
      border-radius: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 3rem;
      padding: 2rem 0 2rem 1rem;
      width: 50rem;

      font-size: 1.5rem;
      @media (max-width: 1340px) {
        width: 40rem;
      }
      @media (max-width: 490px) {
        width: 28rem;
      }
    }
    button {
      border: 2rem;
      color: white;
      font-size: 2.8rem;
      font-weight: bold;
      margin-left: 2rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
      background-color: #f188f2;
      border-radius: 2rem;
      cursor: pointer;
      width: 50rem;
      padding: 2rem 0 2rem 0;
      @media (max-width: 1340px) {
        width: 40rem;
      }
      @media (max-width: 490px) {
        width: 28rem;
      }
    }
  }
}
