.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  min-height: 33rem;
  position: relative;
  border-radius: 20px;
  overflow: hidden;

  img {
    height: 30rem;
    border-radius: 20px;
    transition: all 0.4s;
    object-fit: cover;
    &:hover {
      transform: scale(1.02);
    }
    @media (max-width: 1430px) {
      height: 25rem;
    }
    @media (max-width: 670px) {
      height: 15rem;
    }
  }
  .prices {
    display: flex;
    gap: 2rem;
    align-items: baseline;
    @media (max-width: 670px) {
      gap: 1.5rem;
    }
    span:nth-child(1) {
      font-size: 3rem;
      font-weight: 500;
      color: black;
      @media (max-width: 670px) {
        font-size: 1.8rem;
      }
    }
    span:nth-child(2) {
      font-size: 2rem;
      font-weight: 500;
      color: lightgrey;

      text-decoration: line-through;
      @media (max-width: 670px) {
        font-size: 1.2rem;
      }
    }
    span:nth-child(3) {
      font-size: 2rem;
      font-weight: 500;
      color: #ff32a1;
      @media (max-width: 670px) {
        font-size: 1.2rem;
      }
    }
  }
  .name {
    font-size: 1.6rem;
    color: black;
    @media (max-width: 670px) {
      font-size: 1.2rem;
    }
  }
  &:hover {
    .btn {
      display: block;
    }
  }
  .btn {
    position: absolute;
    top: 50%;
    z-index: 9;
    left: 0%;
    display: none;
    @media (max-width: 670px) {
      top: 30%;
      z-index: 9;
      left: 0%;
      display: none;
    }
  }
}
